build --cxxopt='-std=c++20'

build --cxxopt='-Wall'
build --cxxopt='-Wextra'
build --cxxopt='-Wmisleading-indentation'
build --cxxopt='-Wduplicated-cond'
build --cxxopt='-Wduplicated-branches'
build --cxxopt='-Wlogical-op'
build --cxxopt='-Wuseless-cast'
build --cxxopt='-Wshadow'
build --cxxopt='-Wnon-virtual-dtor'
build --cxxopt='-Wold-style-cast'
build --cxxopt='-Wcast-align'
build --cxxopt='-Wunused'
build --cxxopt='-Woverloaded-virtual'
build --cxxopt='-Wpedantic'
build --cxxopt='-Wconversion'
build --cxxopt='-Wsign-conversion'
build --cxxopt='-Wnull-dereference'
build --cxxopt='-Wdouble-promotion'
build --cxxopt='-Wformat=2'
build --cxxopt='-Wimplicit-fallthrough'
build --features=external_include_paths

# https://stackoverflow.com/a/57733619/15827495
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O3
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address


build:ubsan --strip=never
build:ubsan --copt -fsanitize=undefined
build:ubsan --copt -O3
build:ubsan --copt -g
build:ubsan --copt -fno-omit-frame-pointer
build:ubsan --linkopt -fsanitize=undefined


build:san --strip=never
build:san --copt -fsanitize=undefined,address
build:san --copt -O3
build:san --copt -g
build:san --copt -fno-omit-frame-pointer
build:san --linkopt -fsanitize=undefined,address
